
    <div class="table">
      
      <div class="row header">
        <div class="cell">
          Tipo
        </div>
        <div class="cell">
          Data
        </div>
        <div class="cell">
          Valor
        </div>
        <div class="cell">
          CPF
        </div>
        <div class="cell">
            Cartão
          </div>
          <div class="cell">
            Hora
          </div>
          <div class="cell">
            Dono da loja
          </div>
          <div class="cell">
            Nome loja
          </div>
      </div>
      
    
<div class="nodata" *ngIf="data.length===0">Sem Dados</div>

      <div class="row" *ngIf="data.length>0">
        <div class="cell">
            Tipo
          </div>
          <div class="cell">
            Data
          </div>
          <div class="cell">
            Valor
          </div>
          <div class="cell">
            CPF
          </div>
          <div class="cell">
              Cartão
            </div>
            <div class="cell">
              Hora
            </div>
            <div class="cell">
              Dono da loja
            </div>
            <div class="cell">
              Nome loja
            </div>
      </div>
      
    </div>
   