<p>TOTAL : {{getFormattedPrice(total)}}</p>
<table class="table-scroll small-first-col">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Data</th>
      <th>Valor</th>
      <th>CPF</th>
      <th>Cartão</th>
      <th>Hora</th>
      <th>Nome loja</th>
      <th>Dono da loja</th>
    </tr>
  </thead>
  <tbody class="body-half-screen">
  <div class="nodata" *ngIf="list.length === 0">Sem Dados</div>

   <tr *ngFor="let item of list">
    <td>
      {{ item?.tipo || 0 }}
    </td>
    <td>
      {{ convertdata(item?.data || "") }}
    </td>
    <td>
      {{ getFormattedPrice(item?.valor || 0) }}
    </td>
    <td>
      {{ item?.cpf || "" }}
    </td>
    <td>
      {{ item?.cartao || "" }}
    </td>
    <td>
      {{ convertTime( item?.hora || 0) }}
    </td>
    <td>
      {{ item?.nomeloja || "" }}
    </td>
    <td>
      {{ item?.donodaloja || "" }}
    </td>

  </tr>
</tbody>
</table>